article.result {
  min-width: 450px;
}

@media (min-width: 768px) {
  article.result {
    min-width: 600px;
  }
}

@media (min-width: 992px) {
  article.result {
    min-width: 720px;
  }
}

@media (min-width: 1200px) {
  article.result {
    min-width: 800px;
  }
}
