header > a.active {
  text-decoration: underline;
}

#root-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#root-container > section {
  flex-grow: 1;
  background-color: #f2f2f2;
}

footer {
  text-align: center;
}

section {
  display: flex;
  align-items: center;
}

.card {
  box-shadow: 5px 5px 5px #ddd;
}

.responsive-label {
  align-items: center;
}

@media (min-width: 775px) {
  .responsive-label [class|="col"]:has(label) {
    text-align: right;
  }
}

fieldset {
  margin: var(--universal-margin) var(--universal-margin)
    calc(2 * var(--universal-margin)) var(--universal-margin);
  flex-grow: 1;
}
