.inputList ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.inputList .header {
  padding: 0 var(--universal-padding);
  display: flex;
}

.inputList .header > button {
  margin: var(--universal-margin) 0;
}

.inputList .expansive {
  padding-top: calc(1.5 * var(--universal-padding));
  flex-grow: 1;
}
