html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

button.small.add-button {
  padding: calc(var(--universal-padding) / 4) var(--universal-padding);
  margin: var(--universal-margin) auto;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered-text {
  text-align: center;
}

.warning {
  --button-back-color: #ffa500;
  --button-fore-color: #2a2a2a;
  --button-hover-back-color: #ffd484;
}
