/*
.warning {
  --button-back-color: #ffa500;
  --button-fore-color: #2a2a2a;
  --button-hover-back-color: #ffd484;
} */

$semantic-root-element: "#root";
$enable-semantic-container: true;

@import "@picocss/pico/scss/pico";

[data-theme="light"],
:root:not([data-theme="dark"]) {
  --fieldset-border-color: hsl(205, 16%, 95%);
  --divisor-background-color: var(--code-background-color);
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --fieldset-border-color: hsl(205, 16%, 18%);
    --divisor-background-color: var(--code-background-color);
  }
}

[data-theme="dark"] {
  --fieldset-border-color: hsl(205, 16%, 18%);
  --divisor-background-color: var(--code-background-color);
}

html,
body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#root > header {
  padding: 0 calc(var(--spacing) / 2);
  box-shadow: 0 1px 0 rgba(115, 130, 140, 0.2);
}

#root > footer {
  padding: var(--spacing) 0;
  text-align: center;
  box-shadow: 0 -1px 0 rgba(115, 130, 140, 0.2);
}

main {
  flex-grow: 1;
}

main > article {
  margin: 0;
  padding: calc(2 * var(--spacing))
}

form:last-child {
  margin: 0;
}

.centered {
  display: grid;
  place-items: center;
  height: 100%;
}

.centered-text {
  text-align: center;
}

fieldset.visible {
  border: thin solid var(--fieldset-border-color);
  padding: 0 var(--spacing);
  border-radius: var(--border-radius);
}

fieldset.visible > legend {
  text-align: left;
  padding: 0 calc(var(--spacing) / 2);
}

fieldset.tight {
  margin: 0;
}

.active {
  --background-color: var(--primary-focus);
}

input.standalone {
  margin: 0;
}

:is(button, input[type="submit"]).inline {
  display: inline-block;
  width: auto;
}

button.small {
  padding: calc(var(--spacing) * 0.5) calc(var(--spacing) * 0.75);
}

textarea.code {
  width: 100%;
  resize: vertical;
  font-family: monospace;
  word-break: break-all;
}

mark.error {
  color: white;
  background-color: hsl(0, 100%, 40%);
}

pre {
  padding: var(--spacing);
}

pre.wrap {
  white-space: pre-wrap;
}

header > :is(hgroup, h1, h2, h3, h4) {
  margin-bottom: 0;
}

header.oneliner > :is(h1, h2, h3, h4) {
  margin-bottom: 0;
}

summary.copyable button {
  margin-right: var(--spacing);
  margin-bottom: 0;
}

summary.copyable::after {
  margin-inline-start: 0;
  margin-top: var(--spacing);
}

details[role="list"] svg {
  min-width: 1.5em;
}

.divisor {
  background-color: var(--divisor-background-color);
  --font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: var(--font-weight);
}

:is(h1,h2,h3,h4,h5,h6).tight {
  margin-bottom: calc(var(--spacing) / 2);
}

legend[data-tooltip], [data-tooltip].unmarked-tooltip {
  border-bottom: 0;
}
